.complaints
  .breadcrumbs
    a
      color black-light!important

  .strongClass
    font-weight bold

  .container-top
    border-top solid .1rem light-white

  // .form
  //   .user

  .input
    border solid .1rem black-transparent
    width 100%
    outline none
    padding .3rem 1rem
    margin-top .4rem
    background-color white

.input-complaints
  span
    padding-bottom .5rem
    i
      color c-btn-active
  .error-field
    border solid .1rem c-principal!important

.input--modifier
  padding-top .5rem
  .multiselect__tags
    height 32px
    min-height auto!important
    padding 6px 40px 0 8px
    // color red
    border solid .1rem black-transparent
    border-radius 0
    .multiselect__single
      padding 0!important
  .multiselect__content-wrapper
    .multiselect__content
      .multiselect__element
        .multiselect__option--highlight
          background c-btn-active!important

.complaints
  .is-invalid
    border:1px solid red
.select-invalid
  .multiselect__tags
    border:1px solid red
.inline-red
    padding-left: 15px
    font-size: 0.8rem
    color: c-text-title-pink
.image-container-w
  border: solid 0.1rem rgba(0,0,0,0.38);
  width: 100%;
  outline: none;
  padding: 0.3rem 1rem;
  padding-top: .5em;
  margin-top: 0.4rem;
  background-color: #fff;
  .image-container
    position:relative
    display:inline-block
    max-width: 500px;
    &>span
      position: absolute
      right: -12px
      background: #f1f1f1
      border-radius: 22px
      height: 24px
      width: 24px
      top: -4px
      font-size: 10px
      display: flex
      align-items: center
      justify-content: center
      cursor:pointer
      i
        line-height: 1
        font-size: 15px
    img
      max-width: 100%
      border: 1px solid #e4e4e4
