.stepper-control-express
  position relative
  .stepper-item-control
    z-index 2
    cursor pointer
    font-weight bold
    &.stepper__step--active
      .stepper__step__step.primary
        background-color white!important
        color c-text-title-pink!important
        // font-weight bold
        border solid .1rem c-text-title-pink!important
    &.stepper__step--inactive
      .stepper__step__step
        background-color c-text-title-pink!important

        color white!important
        // font-weight bold
        border solid .1rem c-text-title-pink!important
    .stepper__step__step
      background-color c-text-title-pink!important
      color white!important
      // font-weight bold
      border solid .1rem c-text-title-pink!important

  &.stepper__step--complete
    span
      i
        color black-transparent!important
  &.stepper__step--inactive
    color red!important
    .stepper__step__step
      background-color red!important

.stepper--height-img
  .stepper__wrapper
    height: 32rem!important

.stepper-no-borders
  border none!important

.line-stepper
  position absolute
  width .1rem
  height 10rem
  background-color c-text-title-pink
  top 3rem
  left 2.5rem
  z-index 0

@media screen and (max-width: 870px)
  .line-stepper
    top 4rem

@media screen and (max-width: 733px)
  .line-stepper
    top 5rem

@media screen and (max-width: 600px)
  .line-stepper
    top 3rem

@media screen and (max-width: 435px)
  .line-stepper
    top 4rem

@media screen and (max-width: 366px)
  .line-stepper
    top 5rem
