APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

DB_CONNECTION=mysql
DB_HOST_PICKAPP_API=127.0.0.1
DB_PORT_PICKAPP_API=3306
DB_DATABASE_PICKAPP_API=homestead
DB_USERNAME_PICKAPP_API=homestead
DB_PASSWORD_PICKAPP_API=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

URL_IMG_BANNER='elements/banner'
URL_IMG_SERVICIO='elements/servicio'
APP_MAPA_ID=AIzaSyDo16y4abwL5fv4fLyJYEvGaVTi__zr2qk
