.bg-express-full
  background-image url('/images/fondo_express.png')
  background-size cover
  background-position 100% 0rem
  height 34rem

@media screen and (max-width: 1370px)
  .bg-express-full
    background-position 40% 0rem
    height 33rem

@media screen and (max-width: 1060px)
  .bg-express-full
    background-position 0 0
    height 25rem

@media screen and (max-width: 900px)
  .bg-express-full
    background-position 0 0
    height 22rem

@media screen and (max-width: 790px)
  .bg-express-full
    background-position 54% 0
    height 22rem

@media screen and (max-width: 600px)
  .bg-express-full
    background-position 100% 0
    height 22rem
  .justify-xs-center
    display flex
    justify-content center !important

@media screen and (max-width: 370px)
  .bg-express-full
    background-position 86% 0
    height 28rem


.bg-estandar-full
  background-size cover
  background-position 100% 0rem
  height 34rem

@media screen and (max-width: 1370px)
  .bg-express-full
    background-position 40% 0rem
    height 33rem

@media screen and (max-width: 1060px)
  .bg-express-full
    background-position 0 0
    height 25rem

@media screen and (max-width: 900px)
  .bg-estandar-full
    background-position 54% 0
    height 22rem

@media screen and (max-width: 790px)
  .bg-estandar-full
    background-position 54% 0
    height 22rem


@media screen and (max-width: 600px)
  .bg-estandar-full
    background-position 100% 0
    height 22rem
  .bg-estandar-full.bgr
    background-position 0 0
  .bg-estandar-full.bgc
    background-position 50% 0
  .justify-xs-center
    display flex
    justify-content center !important

@media screen and (max-width: 370px)
  .bg-estandar-full
    background-position 86% 0
    height 28rem
  .bg-estandar-full.bgr
    background-position 14% 0
  .bg-estandar-full.bgc
    background-position 50% 0
