.wrapper-footer
  background-color c-footer
  display flex
  justify-content center

.footer-logo
  display flex
  align-items flex-start
  flex-direction column
  
.boldText
  font-family Carnas-Medium
  margin-top 1rem

.style-link
  text-decoration none
  color white

.footer-lists
  display flex
  justify-content flex-end

footer
  .container
    padding-top: 35px 
    padding-bottom: 10px;
.element-list
  width 10rem

footer .element-list
  padding-left: 0!important;
  width: 11rem;

.list, .btn-footer
  font-family Carnas-Regular
  text-transform uppercase
  font-size: .8rem
  ul
    font-size .7rem
    list-style none
    font-family Carnas-Extra-Light

.btn-footer
  button
    text-align left
    display block
    text-transform uppercase

.wrapper-images-footer
  display flex
  flex 0

.extralinks
  border-top solid 0.1rem rgba(179, 179, 179, 0.2)
  .urls
    text-align right
    a
      color rgba(255, 255, 255, 0.5)
      text-decoration none
      padding-right .5rem
      font-family Carnas-Regular

.copyright
  font-family Carnas-Regular
  color rgba(255, 255, 255, 0.5)
  text-align center
  