.ep-map-container
  background white
  padding 4rem 2rem 5rem

.ep-form-package
  border none!important
  div
    input
      width 100%
      margin-bottom 1.6rem

@media screen and (max-width: 600px)
	.ep-map-container
		padding 1rem 2rem 1rem

.more-info-text
  text-decoration underline



div.text-step-one
  input
    margin-bottom: 2rem
  &>strong
    display:block
    padding-top: 16px
.white-bg
  background:#fff
.enviar-container
  max-width: 1020px;

.envio-step-two
  &>strong
    display:block
    padding-top: 16px
.min-width-step-two.pl1
  padding-right: 1em;
.st-3-scharffer
  padding-top: 25px
  img
    vertical-align: middle
    padding-right: 7px
  strong
    font-size: 18px

.btn-send-next
  padding-left: 0.2rem;
  padding-right: 0.2rem;
.wrapper-info-finish h3
  font-family: Carnas-medium

.wrapper-info-finish p
  font-size: 1rem

.wrapper-info-detalle
  border: solid 0.1rem c-text-title-pink
  width: 64rem
  text-align: center
  padding: 2.5rem 3rem
  z-index: 1

.info-time-delivery img
  position: relative
  top: -6px

p.small-text
  font-size: .8em

.text-underlined
  text-decoration:underline
  cursor:pointer

.text-step-one-rw.text-step-one>strong,.text-step-one-rw.text-step-two>strong
  padding-top: 9px;
  padding-bottom: 17px;

.text-step-one-rw.text-step-one input,.text-step-one-rw.text-step-two input
  margin-bottom: 1.9rem;
.text-step-one-rw .input-group__details
  display none

.text-step-two>strong
  font-size: 17px

#seguimiento_picker
  background: #fff;
  padding-top: 16px;
  padding-bottom: 18px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;

.caja-favoritos-a
  background: #000;
  position: absolute;
  right: 28px;
  padding: 8px 9px 5px;
  top: 76px;
  z-index: 1;
  min-width: 118px;
  select
    color: #fff;
    width: 103px;
    opacity 0
    &:focus
      outline none
  label
    color: #fff;
    // position: absolute;
    // top: 7px;
    // right: 24px;
    // pointer-events: none;


@media screen and (max-width: 600px)
  .caja-favoritos-a
    right: 13px;
    top: 17px;


.white-bg.xs12.row.wrap.layout
    position: relative;
    max-width: 100%;


.fakefavselect
    position: absolute;
    color: #fff;
    right: 0;
    top:33px;
    white-space: nowrap;
    min-width: 118px;
    max-height: 301px;
    overflow: hidden;
    overflow-y: auto;
    div
      padding: 8px 13px 7px;
      border-bottom: 1px solid #404040;
      background: #333;
      cursor pointer
      &:hover
        background: #484848;

h3.head3
    font-weight: 400;
    font-family: Carnas-Bold;
    width: 100%;
h4.head4
  font-weight: 400;
  font-family: Carnas-Bold;

.seguimiento-texto
  position:relative
.seguimiento-texto__leyenda
  background: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  right: 26px;
  font-family: Carnas-Regular;
  font-size: 12px;



.ep-map-container-st3
  position relative

  .st3-3notificador-hidden
    position absolute
    right 0
    bottom 0
    height 100px
    width 100px
