//Test
bg-red = red
bg-blue = blue
bg-green = green
bg-yellow = yellow
c-principal = #ff535a
c-btn-active = #ff535a
c-text = #464646
c-footer = #272727
black-light = #1f1f1f
black-very-light = #181818
white-tenue = rgba(255, 255, 255, 0.5)
facebook = #255a99
cborder-3=rgba(70, 70, 70, 0.3)
c-principal-ligth = #f5757b
//c-text-title-pink = c-text-title-pink
c-text-title-pink = #ff535a
light-white = rgba(123, 123, 123, 0.3)
header-admin = #161616
gray-tone-one = #dfe4e8
black-transparent = rgba(0,0,0,.38)
c-pink-pre = #ffa7ab


//buttom
btn-color = orange
