// @import './vendor/icons.css'
@import '~vuetify/dist/vuetify.min.css'
// @import '~vuetify/src/stylus/main.styl' // Ensure you are using stylus-loader

@import './_variables.styl'
@import './fonts.styl'
@import './_helpers.styl'

@import './page/*.styl'
@import './components/*.styl'
@import './components/text-img/*.styl'


body
  // color red
  color c-text