@font-face
  font-family Carnas-Italic
  src url('../fonts/Carnas Italic.otf')

@font-face
  font-family Carnas-Black
  src url('../fonts/Carnas Black.otf')

@font-face
  font-family Carnas-Bolt-Italic
  src url('../fonts/Carnas Bold Italic.otf')

@font-face
  font-family Carnas-Bold
  src url('../fonts/Carnas Bold.otf')

@font-face
  font-family Carnas-Extra-Light-Italic
  src url('../fonts/Carnas Extra Light Italic.otf')

@font-face
  font-family Carnas-Extra-Light
  src url('../fonts/Carnas Extra Light.otf')

@font-face
  font-family Carnas-Italic
  src url('../fonts/Carnas Italic.otf')

@font-face
  font-family Carnas-Light-Italic
  src url('../fonts/Carnas Light Italic.otf')

@font-face
  font-family Carnas-Light
  src url('../fonts/Carnas Light.otf')

@font-face
  font-family Carnas-Medium-Italic
  src url('../fonts/Carnas Medium Italic.otf')

@font-face
  font-family Carnas-Medium
  src url('../fonts/Carnas Medium.otf')

@font-face
  font-family Carnas-Regular
  src url('../fonts/Carnas Regular.otf')

@font-face
  font-family Carnas-Thin-Italic
  src url('../fonts/Carnas Thin Italic.otf')

@font-face
  font-family Carnas-Thin
  src url('../fonts/Carnas Thin.otf')
